body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#tophead{
    height: 90px;
    padding: 0 7.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo{
    height: 90px;
    width: 250px;

}

#logo>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#login{
    display: flex;
    gap: 1rem;
}

#login>a:first-child{
    background: #4267B2;
    color: aliceblue;
    padding: 4px 8px;
    text-decoration: none;
    border-radius: 4px;
}
#login>a:nth-child(2){
    background: #3e3e3f;
    color: aliceblue;
    padding: 4px 8px;
    text-decoration: none;
    border-radius: 4px;
}
#login>a:nth-child(3){
    /* background: #3e3e3f/; */
    color: black;
    padding: 4px 8px;
    text-decoration: none;
    border-radius: 4px;
    border-left: 1px solid rgb(209, 208, 208);
}

nav{
    

}
nav{
    padding: 0 7.5rem;
    background: #2bb673;
    display: flex;
    list-style: none;
    /* margin: auto; */
    /* height: 40px; */
    align-items: center;
    justify-content: space-around;
}

nav>a{
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
    padding: 8px 14px;
    font-weight: 600;
}


footer{
    background: #2bb673;
}
.promo{
    margin-top: 1rem;
}
#foot_menu{
    padding: 8px 8rem;
    background: #2bb673;
    
    display: flex;
    justify-content: space-around;

}
#foot_menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
#foot_menu ul>li>a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.foot_heading{
    color: #fff;
    float: left;
}

.foot_heading{
    font-size: 95%;
}

#copyright{
    text-align: center;
    font-size: 10px;
    color: #fff;
    padding: 10px;
}

#login_form{
    width: 520px;
    background: #fff;
    height: 620px;
    position: absolute;
    z-index: 99;
    top: 50%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    left: -50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    border-radius: 10px;
    transition: .3s;
}
#login_form>div>*{
    /* border: 1px solid; */
}
#login_form>div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#login_form>div a{
    text-decoration: none;
    color: rgb(104, 100, 100);
}

#cross{
    float: right;
    cursor: pointer;
}
.first{
    text-align: center;
}
.first>div+div h2{
    font-weight: 500;
    color: gray;
    margin: 0;

}
.first>div+div p{
    color: gray;
    margin: 0px;
}
.first>div:first-child{
    height: 100px;
    width: 200px;
    margin: 0 auto;

}

.first>div:first-child img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.same{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    height: 170px;
    padding: 0 1rem;
    border: 1px solid rgb(211, 208, 208);
    margin:0 1rem;
    border-radius: 10px;
}

.same>a{
    text-decoration: none;
}

.same>div:first-child{
    width: 350px;
    /* height: 100px; */
}
.same>div:first-child img{
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
}

.four{
    display: flex;
    justify-content: space-between;
    align-items: center;
}