



#art_top{
    width: 100%;
    height: 200px;
    border: 1px solid #f0f0f0;
    background-color: #f0f0f0;
    
    
}
#art_top>div{
    width: 80%;
    height: 200px;
    border: 0px solid black;
    margin-left: 10%;
}
#sa_container{
    width: 80%;
    /* height: 1200px; */
    
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    
}
#lhs{
    width: 70%;
    height: 90%;
    border: 0px solid black;
    text-align:center;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#rhs{
    width: 22%;
    height: 95%;
    border: 0px solid black;
    text-align: center;
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#rhs>div{
    width: 90%;
    height: 200px;
    border: 0px solid black;
    margin-left: 5%; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#img_container{
    width: 100%;
    height: 50%;
    border: 0px solid red;
}
#img_container>img{
    width: 100%;
    height: 100%;
}
#article_container{
    width: 100%;
    /* height: 47%; */
    border: 0px solid red;
}

#articles_btn{
    width: 200px;
    height: 40px;
    margin-top: 3%;
    border-radius: 5px;
    background-color: red;
    color: white;
    border: 1px solid black;
}
#articles_btn:hover{
    cursor: pointer;
    background-color: rgb(185, 19, 19);
    
}

#view_btn{
    width: 200px;
    height: 40px;
    margin-top: 5%;
    border-radius: 5px;
    background-color: rgb(3, 168, 3);
    color: white;
    border: 1px solid black;
}
#view_btn:hover{
    cursor: pointer;
    background-color:rgb(7, 101, 7);
}
#fb{
    margin-top: 2%;
    
}
#fb>img{
    margin-left: 2%;
    
}